<h1>Game Info</h1>
Version: {{ game.version_as_string }}<br>
Ascension: {{ game.ascension_level }}<br>
Starter: {{ game.pokemon1 }}<br>
Partner: {{ game.pokemon2 }}<br>
Win: {% if game.win %}win!{% else %}lost...{% endif %}<br>
{% if not game.win %}
    Max floor: {{ game.max_floor }}<br>
{% endif %}
Score: {{ game.score }}<br>
Seed: <i> {{ game.seed }}</i><br>
Game Duration: {{ game.elapsed_time |time:"H:i:s" }}<br>

<h1>Relics:</h1>
<ul>
    {% for relic in relics %}
        <li>
            {{ relic.name }}
        </li>
    {% endfor %}
</ul>

<h1>Cards:</h1>
<ul>
    {% for card in cards %}
        <li>{{ card.card_name }}</li> 
    {% endfor %}
</ul>
<h1>Card Choices</h1>
<h3>Green means chosen, Red means skipped</h3>
<ul>
    {% for card in cardChoices %}
        <li>
            {% if card.chosen %}
                <div style="color:green;">{{ card.card_name }}</div>
            {% else %}
                <div style="color:red;">{{ card.card_name }}</div>
            {% endif %}
        </li>
    {% endfor %}
</ul>

